force-app/main/default/flows/Get_Case_History_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Case_Info</name>
        <label>Add Case Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Info</name>
        <label>Add Product Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProductListText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductListText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductListText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductListText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Case_History</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Get Case History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!CaseSummaryText}

===========
[AVAILABLE PRODUCTS LIST]
Here is the list of active products and their descriptions:
{!ProductListText}
===========
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Case History Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Case History Flow</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Opportunity</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseHistoryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductListText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
