force-app/main/default/flows/Update_WOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORKTYPE_COMPLETE_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>WORKTYPE_COMPLETE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.완료 기록</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Update_WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_WOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Work_Order_Line_Item</name>
        <label>Update Work Order Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>null__NotFound</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
